.title-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

h1 {
  font-size: 120px;
}

.section__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container__subtitle {
  margin-top: 2rem;
}
