.slider-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 0;
  width: 100%;
  max-width: 400px;

  .slider-label {
    white-space: nowrap;
    width: max-content;
    font-weight: 600;
  }

  .slider-hint {
    font-size: 0.875rem;
    color: #666;
  }
}

.MuiSlider-root {
  width: 100%;
}
